<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <% include ../partials/title %>
    <% include ../partials/css %>
</head>
<body>
    <% include ../partials/header %>

    <main>
        <br /><br /><br />
        <div class="container">
            <h3>
                <%= __('app.recovery.step2.title') %>
            </h3>

            <div class="row">

                <% if (!validateSubmit.recovery.found) { %>

                    <!-- Global error message -->
                    <div class="col s12 m12 l12">
                        <blockquote class="recovery">
                            <%= validateSubmit.recovery.error %>
                        </blockquote>
                        <br />
                    </div>
                    <!-- Global error message -->

                <% } else { %>

                    <div class="col s12 m12 l12">
                        <div class="card-panel">

                            <form id="recovery" action="/recovery/step2" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" name="accessHash" value="<%= accessHash %>">

                                <div class="row">

                                    <!-- Global error message -->
                                    <div id="validate_submit" class="input-field col s12 m12 l12">
                                        <blockquote id="validate_submit_blockquote" class="profile">
                                        </blockquote>
                                        <br />
                                    </div>
                                    <!-- Global error message -->

                                    <!-- Password -->
                                    <div class="input-field col s10 m10 l6">
                                        <i class="material-icons prefix">vpn_key</i>
                                        <input name="password" id="password" type="password" value="">
                                        <label for="password"><%= __('app.profile.password') %></label>
                                    </div>

                                    <div id="password-validation" class="input-field col s2 m2 l6">

                                        <div id="password-validation-result" class="row">
                                            <div class="input-field col s2 m2 l2">
                                                <a onclick="toast(passwordValidationMessage)">
                                                    <img id="password-image" class="lock" src="<%= staticServer %>/static/img/lock_0.png" />
                                                </a>
                                            </div>
                                            <div class="input-field col s10 m10 l10">
                                                <font id="password-font-result" class="password"></font>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="input-field col s12 m12 l12"></div>
                                    <!-- Password -->

                                    <!-- Confirm password -->
                                    <div class="input-field col s10 m10 l6">
                                        <i class="material-icons prefix">vpn_key</i>
                                        <input name="confirm-password" id="confirm-password" type="password" value="">
                                        <label for="confirm-password"><%= __('app.profile.confirm') %></label>
                                    </div>

                                    <div id="confirm-validation" class="input-field col s2 m2 l6">

                                        <!-- confirm success -->
                                        <div id="confirm-validation-success" class="row">
                                            <div class="input-field col s2 m2 l2">
                                                <a onclick="toast(confirmValidationMessage)" href="#">
                                                    <img class="success" src="<%= staticServer %>/static/img/success.png" />
                                                </a>
                                            </div>
                                            <div class="input-field col s10 m10 l10">
                                                <font id="confirm-font-success" class="success"></font>
                                            </div>
                                        </div>

                                        <!-- confirm error -->
                                        <div id="confirm-validation-error" class="row">
                                            <div class="input-field col s2 m2 l2">
                                                <a onclick="toast(confirmValidationMessage)">
                                                    <img class="error" src="<%= staticServer %>/static/img/error.png" />
                                                </a>
                                            </div>
                                            <div class="input-field col s10 m10 l10">
                                                <font id="confirm-font-error" class="error"></font>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Confirm password -->

                                    <!-- Submit button -->
                                    <div class="input-field col s12 m12 l12"></div>
                                    <div class="input-field col s6 m6 l6">
                                        <button id="submit-button" class="btn waves-effect waves-light red darken-3 right" type="button">
                                            <i class="material-icons left">send</i>
                                            <%= __('app.recovery.step2.submit') %>
                                        </button>
                                    </div>
                                    <div class="input-field col s6 m6 l6"></div>
                                    <!-- Submit button -->

                                </div>
                            </form>
                        </div>
                    </div>

                <% } %>

            </div>
        </div>
    </main>

    <% include ../partials/footer %>
    <% include ../partials/js %>
    <script type="text/javascript" src="<%= staticServer %>/static/js/shared.js"></script>
    <% include ../partials/js/recovery-step2 %>
    <script type="text/javascript" src="<%= staticServer %>/static/js/meter.js"></script>
    <% include ../partials/js/password %>
</body>
</html>